<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>CastList</title>
</head>
<body>
<h3>Cast List</h3>
<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tr th:each="actor : ${castList}">
        <td th:text="${actor.id}"></td>
        <td th:text="${actor.firstName}"></td>
        <td th:text="${actor.lastName}"></td>
        <td>
        <form action="#" method="post" th:action="@{'sakila/cast/delete/' + ${actor.id}}" th:object="${actor}">
            <input type="hidden" th:value="*{id}" name="id">
            <button th:name="action" type="submit">Delete</button>
        </form>
        </td>
    </tr>
</table>
<a href="index.html" th:href="@{/sakila}"><button type="button">Home Page</button></a>
</body>
</html>