<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Name</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tr th:each="actor : ${allActors}">
        <td th:text="${actor.id}"></td>
        <td th:text="${actor.firstName}"></td>
        <td th:text="${actor.lastName}"></td>
        <td><a href="#"><button th:id="${actor.id}" type="button">Edit</button></a></td>
        <td><a th:href="@{'sakila/actor/delete/'+ ${actor.id}}" href="actorToDelete.html"><button type="button">Delete</button></a></td>
    </tr>
    <a href="actorForm.html" th:href="@{sakila/actor/form}"><button type="button">Create Actor</button></a>
</table>
</body>
</html>
